<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="index.html" class="nav__logo">
        <img src="./" class="nav__logo-img" alt="Logo"> <span class="nav__logo-text">Cinemania</span>
      </a>
      <div class="nav__menu">
        <ul class="nav__menu-list">
          <li class="nav__menu-item">
            <a href="index.html" class="nav__menu-link">Home</a>
          </li>
          <li class="nav__menu-item">
            <a href="catalog.html" class="nav__menu-link">Catalog</a>
          </li>
          <li class="nav__menu-item">
            <a href="myLibrary.html" class="nav__menu-link">My Library</a>
          </li>
        </ul>
      </div>
      <div class="nav__"></div>
    </nav>
  </div>
</header>