<div class="container">
  <div class="hero">
    <div class="hero__content">
      <h1 class="hero__content-title">
        Dungeons & Dragons: Honor Among Thieves
      </h1>
      <div class="hero__content-stars">
        <span class="star star"></span>
        <span class="star star"></span>
        <span class="star star"></span>
        <span class="star star"></span>
        <span class="star star-half"></span>
      </div>
      <div class="hero__content-info">
        <p class="hero__content-info-text">A charming thief and a band of unlikely adventurers undertake an epic heist
          to retrieve a lost relic, but things go
          dangerously awry when they run afoul of the wrong people.</p>
        <div class="hero__content-info-buttons">
          <button type="button" class="btn btn-orange-black"> Watch Trailer </button>
          <button type="button" class="btn btn-black-white"> More Details </button>
        </div>
      </div>
    </div>
    <div class="hero__content-background">
      <img class="hero__content-background-image" id="hero__content-background-image"
        src="https://s3-alpha-sig.figma.com/img/55a6/07fc/e1e9fb7d7f5e6b78d27923ca5f806ad0?Expires=1743984000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=E-IcpZtBRbADdsbx7hPgNgEs2IwJ9f8VPCMzCrTdWfUFpvJemL4OhvZaHIjI3CQSkXjLKCUebWfZd7xl8XpuC736szNIlLb1YQ038m7PaMkLAaRXvMF6wkb7f5PzhZ0YapCi7d9Bn~iiVahbsjjR56kCi1u1Le6CR7tA9fKCyuO9UceFhlumuFLI7AfZOGGPigUbn8FCiLFtLc8wWHXwuShCqcPSHMxzn5mFQdg58bRE4MXtbJvuCV0yybe4YGG8RP9iRA0MxDS36QKs7mfbHRyJcZ2Jn03Scunbyy2mdUxKcIv0dO6d4uzoLBmhh3CSWGiJPajtZAUi3ra01rP3eA__"
        alt="Dungeons & Dragons: Honor Among Thieves" />
    </div>
  </div>
</div>