<section class="hero">
  <div class="hero__content">
    <h1 class="hero__content-title">
      Let’s Make Your Own Cinema
    </h1>
    <div class="hero__content-stars" id="hero__content-stars">
      <!--       <span class="star star"></span>
      <span class="star star-half"></span>
      <span class="star star-outline"></span>
 -->
    </div>
    <div class="hero__content-info">
      <p class="hero__content-info-text" id="hero__content-info-text">Is a guide to creating a personalized movie
        theater experience. You'll need a projector, screen, and speakers. Decorate
        your space, choose your films, and stock up on snacks for the full experience.</p>
      <div class="hero__content-info-buttons">
        <button type="button" class="btn btn-orange-black"> Get Started </button>
        <!-- <button type="button" class="btn btn-black-white"> More Details </button> -->
      </div>
    </div>
  </div>
  <div class="hero__content-background">
    <img class="hero__content-background-image" id="hero__content-background-image"
      src="/img/desktop/1ca8b347be4119a1ea6cf45750a2bc51.png" alt="Dungeons & Dragons: Honor Among Thieves" />
  </div>
</section>