<div class="container">
  <div class="hero">
    <div class="hero__content">
      <h1 class="hero__content-title">
        Dungeons & Dragons: Honor Among Thieves
      </h1>
      <div class="hero__content-stars">
        <span class="star star"></span>
        <span class="star star"></span>
        <span class="star star"></span>
        <span class="star star"></span>
        <span class="star star-half"></span>
      </div>
      <div class="hero__content-info">
        <p class="hero__content-info"></p>
      </div>
    </div>
    <div class="hero__content-background">
      <img class="hero__content-background-image" src="\img\e1e9fb7d7f5e6b78d27923ca5f806ad0.png"
        alt="Dungeons & Dragons: Honor Among Thieves" />
    </div>
  </div>
</div>