header,
main {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.nav {
  width: 100%;
  height: 60px;
  padding: 6px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .nav__logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.nav .nav__logo .nav__logo-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.nav .nav__menu-list {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.nav .nav__menu .nav__menu-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.nav .nav__menu .nav__menu-link:hover {
  color: orange;
}

.nav .nav__menu .nav__menu-link:where(.active) {
  color: orange;
}

.hero {
  position: relative;
  width: 100%;
  height: 720px;
  box-sizing: border-box;
  overflow: hidden;
}

.hero .hero__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-block: 118px;
  padding-left: 135px;
  background: linear-gradient(83.06deg,
      #111111 35.85%,
      #1111117e 50.85%,
      #11111137 60.11%,
      rgba(17, 17, 17, 0.2) 40.11%);

  filter: drop-shadow(2px 4px 6px black);
  box-shadow: 2px 2px 2px 1px black;
}

.hero .hero__content-background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.hero .hero__content-background .hero__content-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 200px;
}

/* Hero Title */
.hero .hero__content .hero__content-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  width: 670px;
  margin-bottom: 16px;
}

/* Hero Stars */
.hero .hero__content .hero__content-stars {
  display: flex;
  gap: 5px;
  margin-bottom: 28px;
}

/*  Hero Information */
.hero .hero__content .hero__content-info {
  max-width: 370px;
}

.hero .hero__content .hero__content-info .hero__content-info-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 36px;
}

.hero .hero__content .hero__content-info .hero__content-info-buttons {
  display: flex;
  gap: 14px;
}

/* Weekly Trends */
.stand__area {
  margin: 80px 32px 60px 32px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.stand__area .stand__area-header {
  display: flex;
  justify-content: space-between;
}

.stand__area .stand__area-header .stand__area-header-title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.stand__area .stand__area-header .stand__area-header-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--orange);
}

/* Stand Arera - Weekly Trends List */
.stand__area .stand__area-list {
  display: flex;
  gap: 16px;
  height: 574px;
  flex-wrap: wrap;
}

.stand__area .stand__area-list .stand__area-item {
  position: relative;
  flex: calc(33% - 16px);
  min-height: 574px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.stand__area .stand__area-list .stand__area-item img {
  width: 100%;
  height: 574px;
  object-fit: cover;
  object-position: center;
}

.stand__area .stand__area-list .stand__area-item .stand__area-item-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.09) 18.48%, rgba(0, 0, 0, 0.9) 92.16%);
  filter: drop-shadow(2px 4px 6px black);
}

.stand__area .stand__area-list .stand__area-item .stand__area-item-content .stand__area-item-title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.stand__area .stand__area-list .stand__area-item .stand__area-item-content .stand__area-item-content-footer {
  display: flex;
  justify-content: space-between;
}

.stand__area .stand__area-list .stand__area-item .stand__area-item-content .stand__area-item-content-footer .stand__area-item-info {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--light-grey)
}


.stand__area .stand__area-upcoming {
  display: flex;

}

.stand__area .stand__area-upcoming .stand__area-upcoming-image {
  width: 75%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.stand__area .stand__area-upcoming .stand__area-upcoming-info {
  width: 25%;
  padding: 0px 18px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
}