:root {
  --bg: #fff;
}
[data-theme='dark'] {
  --bg: #000;
  --text: #fff;
  --button
}

[data-theme='light'] {
  --bg: #fff;
  --text: #000;
}

.star {
  width: 24px;
  height: 24px;
  display: block;
  background-repeat: no-repeat;
}
.star.star {
  background-image: url('../img/star.svg');
}
.star.star-half {
  background-image: url('../img/star-half.svg');
}
.star.star-outline {
  background-image: url('../img/star-outline.svg');
}
