:root {
  --bg: #fff;
  --orange: #f87719;
  --black: #111111;
  --dark-grey: #282828;
  --grey: #595959;
  --light-grey: #b7b7b7;
  --light: #f8f8f8;
  --white: #ffffff;
  --li
}
[data-theme='dark'] {
  --bg: #000;
  --text: #fff;
  --button-bg: #000;
}

[data-theme='light'] {
  --bg: #fff;
  --text: #000;
}

.star {
  width: 24px;
  height: 24px;
  display: block;
  background-repeat: no-repeat;
}
.star.star {
  background-image: url('../img/star.svg');
}
.star.star-half {
  background-image: url('../img/star-half.svg');
}
.star.star-outline {
  background-image: url('../img/star-outline.svg');
}
